// App Header

@primarycolor : #aab4f4;

 
@shade: #eff2f5;
@shapes: #dff7ff;


body{
    margin: 0;
    padding: 0;
}
.appHeader{
    z-index: 1;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    text-align: center;
    padding: 0 16px;
    box-shadow: none;
    margin: 0 ;
    box-sizing: border-box;
    box-shadow: none;
    background-color: @shapes;

}
body{
    background-color: #c7cdf3;
    
}

// Client and Seller

.collaspse{
    padding: 2rem 0 4rem 6rem;
    width: 100%;
    text-align: left;
    font-size: 15px;
    background-color: #c7cdf3;
    border-radius: 1pc;
    margin: -30px;
   
}

.heading{
    padding: 0 5rem;
}


.header{
    display: flex;
    align-items: center;
}

.vv{
    background-color: #dff7ff;
}
.anticon.anticon-caret-right.icons.ant-collapse-arrow {
    /* Add your CSS styles here */
    // display: flex;
    /* Other styles... */
    font-size: 2rem;
    padding: 0px 0px 0px 8rem;
  }

  .head{
    color: whitesmoke;
    font-size: 3rem;
    // font-style: oblique;
    font-weight: 800;
  }




.panel{
    font-size: 2rem;
    padding:  0rem 2rem 0rem 0rem;
    margin: 2px;
    background-color: @primarycolor;
    
    

}

.cot{
    font-size: 1rem;
    // margin: 1px;
    // text-indent: 50px;
    letter-spacing: 1px;
    line-height: 1;

   
}

.ant-collapse-content-box{
    text-align: center;
}

.panel:hover{
    //   color: #d3530d;
      background-color: #8793e1;
    //   text-decoration: none;
    }


// .spread{
//     padding: 16px;
// }

.container{
    height: auto;
    margin: 25px;
    width: auto;
    align-content: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 20px;
    

    h1{
        // font-family: verdana;
        // color: @shapes;
    }
   
}

.par{
    column-gap: 2rem;
    text-align: justify;
    padding-left: 6rem;
}

// Client and Seller



// .panel:after {
//     content: '\02795'; /* Unicode character for "plus" sign (+) */
//     font-size: 17px;
//     color: black;
//     background-color: aliceblue;
//     color: white;
//     float: right;
//     border: 1px solid;
//     border-radius: 50%;
//     margin-left: 5px;
//   }
  